@import '../../style.scss';

.Home {
    background: $fondo;
    display: flex;
    min-height: 100%;
    width: 100vw;
    box-sizing: border-box;
    scroll-behavior: auto;
    scroll-behavior: smooth;


    &__menu {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;

        width: 150px;
        height: 100vh;
        padding: 40px 0;
        box-sizing: border-box;

        box-shadow: 5px 0px 5px 0px rgba(157, 168, 190, 0.25);
        position: fixed;
        z-index: 150;
        background: $fondo;

        &__logo {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            align-items: center;
            cursor: pointer;
        }

        &__items {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: center;
            align-items: center;

            a {
                margin: 10px 0;
                transition: all .4s;
                text-decoration: none;
                padding: 10px;
                background: white;
                border: solid 2px white;
                border-radius: 10px;
                font-size: 25px;
                color: $fuente;
                width: 30px;
                height: 30px;

                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                align-items: center;

            }

            a:hover {
                background: $rojo;
                color: $fondo;
            }
        }
    }

    &__content {
        margin-left: 150px;
        width: calc(100vw - 150px);
        box-sizing: border-box;
        background: $azul;
        min-height: 100vh;

        &__adicional {
            padding-left: 10%;
            margin-bottom: 10%;
            margin-top: 100px;
            box-sizing: border-box;

            &__cards {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-content: center;
                align-items: center;

                background: $fondo;
                box-shadow: 5px 5px 5px 0px rgba(157, 168, 190, 0.25);
                width: 400px;
                padding: 20px;
                border-radius: 15px;
                margin: 40px 0;

                &__text {
                    font-family: $dosis;
                    margin-left: 30px;

                    h3 {
                        font-weight: bolder;
                        color: $titulo;
                        margin-bottom: 10px;
                        font-size: 40px;
                    }

                    p {
                        font-weight: normal;
                        color: $fuente;
                        font-size: 20px;
                    }
                }
            }

            &__cards:last-child {
                margin-left: 160px;
            }
        }

        &__aboutme {
            padding-left: 10%;
            margin-bottom: 10%;
            box-sizing: border-box;

            &__titulo {
                width: 100%;
                box-sizing: border-box;
                margin-bottom: 20px;

                h2 {
                    font-weight: bolder;
                    color: $titulo;
                    font-size: 60px;
                    font-family: $dosis;
                }
            }

            &__content {
                background: $fondo;
                font-family: $dosis;
                color: $titulo;
                box-shadow: 0px 5px 5px 0px rgba(157, 168, 190, 0.25);
                padding: 20px;
                border-radius: 15px;
                width: 50%;
                box-sizing: border-box;

                p {
                    font-size: 20px;
                    line-height: 30px;
                    margin-bottom: 30px;
                }

                h6 {
                    font-weight: bolder;
                    font-size: 20px;
                }
            }

            &__rocket {
                position: absolute;
                z-index: 10;
                right: 20%;
                top: 80%;

                img {
                    width: 100%;
                }
            }
        }

        &__portfolio {
            padding-left: 10%;
            margin-bottom: 10%;
            box-sizing: border-box;
            width: 100%;

            &__titulo {
                width: 100%;
                box-sizing: border-box;
                margin-bottom: 40px;

                h2 {
                    font-weight: bolder;
                    color: $titulo;
                    font-size: 60px;
                    font-family: $dosis;
                    text-align: center;
                }
            }

            &__content {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-content: center;
                align-items: center;

                &__proyecto {
                    background: $titulo;
                    width: 400px;
                    height: 280px;
                    margin: 0 20px;
                    border-radius: 15px;
                    cursor: pointer;
                    position: relative;

                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-content: center;
                    align-items: center;

                    img {
                        width: 60%;
                    }

                    &__atras {
                        background-color: $rojo;
                        border-radius: 15px;
                        width: 100%;
                        height: 100%;
                        position: absolute;

                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-content: center;
                        align-items: center;
                        opacity: 0;
                        transition: all .4s;

                        h3 {
                            color: $fondo;
                            font-family: $dosis;
                            font-weight: bolder;
                            font-size: 20px;
                        }
                    }

                    &__atras:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:1200px) and (max-width:1500px) {
    .Home {
        &__content {

            &__aboutme {
                &__content {
                    width: 50%;
                }

                &__rocket {
                    position: absolute;
                    z-index: 10;
                    right: 15%;
                    top: 800px;

                    img {
                        width: 100%;
                    }
                }
            }

            &__portfolio {
                padding-left: 0;

                &__content {

                    &__proyecto {
                        width: 300px;
                        height: 220px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .Home {
        background: $fondo;
        display: flex;
        min-height: 100%;
        width: 100vw;
        box-sizing: border-box;
        scroll-behavior: auto;
        scroll-behavior: smooth;


        &__menu {
            width: 80px;
        }

        &__content {
            margin-left: 80px;
            width: calc(100vw - 80px);

            &__adicional {
                padding-left: 0;
                margin-top: 50px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                align-items: center;

                &__cards {
                    margin: 10px 0;
                    margin-right: 35%;
                }

                &__cards:last-child {
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            &__aboutme {
                padding-left: 0;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-content: center;
                align-items: center;
                margin-left: 10%;

                &__titulo {
                    text-align: center;
                }

                &__content {
                    width: 50%;
                    box-sizing: border-box;
                }

                &__rocket {
                    position: absolute;
                    z-index: 10;
                    right: 150px;
                    top: 720px;
                    transition: all .4s;

                    img {
                        width: 100%;
                    }
                }
            }

            &__portfolio {
                padding-left: 0;

                &__content {
                    flex-wrap: nowrap;

                    &__proyecto {
                        width: 400px - 120px;
                        height: 280px - 50px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:768px) and (max-width:992px) {
    .Home {
        background: $fondo;
        display: flex;
        min-height: 100%;
        width: 100vw;
        box-sizing: border-box;
        scroll-behavior: auto;
        scroll-behavior: smooth;


        &__menu {
            width: 80px;
        }

        &__content {
            margin-left: 80px;
            width: calc(100vw - 80px);

            &__adicional {
                padding-left: 0;
                margin-top: 50px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                align-items: center;

                &__cards {
                    margin: 10px 0;
                    margin-right: 35%;
                }

                &__cards:last-child {
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            &__aboutme {
                padding-left: 0;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                align-items: center;

                &__titulo {
                    text-align: center;
                }

                &__content {
                    width: 90%;
                    box-sizing: border-box;
                }

                &__rocket {
                    display: none;
                }
            }

            &__portfolio {
                padding-left: 0;

                &__content {
                    flex-wrap: nowrap;

                    &__proyecto {
                        width: 400px - 120px;
                        height: 280px - 50px;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width:768px) {
    .Home {
        background: $fondo;
        display: flex;
        min-height: 100%;
        width: 100vw;
        box-sizing: border-box;
        scroll-behavior: auto;
        scroll-behavior: smooth;

        &__menu {
            display: none;
        }

        &__content {
            width: 100vw;
            margin-left: 0;

            &__adicional {
                padding-left: 0;
                margin-top: 50px;

                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                align-items: center;

                &__cards {
                    margin: 10px 0;
                }

                &__cards:last-child {
                    margin-left: 0;
                }
            }

            &__aboutme {
                padding-left: 0;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                align-items: center;

                &__titulo {
                    h2 {
                        text-align: center;
                    }
                }

                &__content {
                    width: 80%;

                    p {
                        text-align: justify;
                    }

                    h6 {
                        text-align: center
                    }
                }

                &__rocket {
                    position: absolute;
                    z-index: 10;
                    right: 35%;
                    top: 80%;
                    display: none;

                    img {
                        width: 150%;
                    }
                }
            }

            &__portfolio {
                padding-left: 0;

                &__content {
                    flex-wrap: nowrap;

                    &__proyecto {
                        background: $titulo;
                        width: calc(400px / 2);
                        height: calc(280px / 2);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:620px) {
    .Home {
        &__content {
            &__aboutme {

                &__content {
                    width: 90%;
                }
            }
        }
    }
}